* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "poppins";
}
:root {
   --nav-color: #2f3542;
}
html {
   font-size: 62.5%;
}
.flex {
   display: flex;
}
.nav-logo {
   font-size: 3rem;
   font-weight: 800;
}
nav {
   background-color: var(--nav-color);
   justify-content: space-around;
   align-items: center;
   color: white;
   padding: 2.2rem 1.5rem;
   position: relative;
}
.nav-items {
   justify-content: center;
   align-items: center;
}
.nav-items ul li {
   list-style-type: none;
   cursor: default;
   padding: 1.2rem 2.4rem;
   font-size: 1.6rem;
}
.nav-items ul {
   position: absolute;
}
.ham-burger {
   color: white;
   font-size: 3rem;
}
.hide {
   display: none;
}
button {
   border: none;
   background-color: transparent;
}
.nav-visible {
   height: 200px !important;
}
main {
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 10;
}
.equals {
   transition: 0.9s;
}
.equals {
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.equals.active .bar-1 {
   transform: rotate(50deg) translateY(9px);
}

.equals.active .bar-2 {
   transform: rotate(-48deg) translateY(-10px);
}
.bar-1,
.bar-2 {
   background-color: white;
   height: 5px;
   transition: 0.9s;
   width: 30px;
   border-radius: 15px;
}
@media only screen and (max-width: 550px) {
   html {
      font-size: 52.5%;
   }
   nav {
      justify-content: space-between;
   }
   .nav-items ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      background-color: var(--nav-color);
      top: 44px;
      right: 0px;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: height 0.8s;
   }
   .ham-burger {
      display: block;
   }
}
